<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style_index.css">
    <meta name="description" content="Página principal de Ziara, barbería de estilo clásico.">
    <title>Ziara | Home</title>
</head>
<body>
    <!-- Div para el fondo -->
    <div class="fondo">

        <header>
            <p>Estamos abiertos 7 días a la semana</p>
            <nav>
                <ul>
                    <li><a href="#">Servicios</a></li>
                    <li><a href="#">Tiendas</a></li>
                    <li><a href="#">Nuestros Barberos</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">Dashboard</a></li>
                </ul>
                <ul>
                    <li><button>Iniciar Sesión</button></li>
                    <li><button>Registrarse</button></li>
                </ul>
            </nav>
        </header>

        <br>

        <main>
            <section>
                
                <header>
                    <h1>ZIARA</h1>
                </header>

                <article>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum ducimus, vel quam perferendis excepturi, nihil debitis totam beatae quia vero temporibus maiores unde officia? Ad quo omnis iste est? Dignissimos.</p>
                </article>

                <br><br>

                <button>RESERVACIÓN</button>
                <button>Empezar a Comprar</button>
            </section>
        </main>

    </div> <!-- Cierre del div fondo -->
</body>
</html>
